In [27]:
import os
import csv
import glob
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format
# UrbanSim_2025_Out_Tables=os.chdir(r"C:\Users\astgo\Downloads\UrbanSim Output Files\UrbanSim Output Files\USOutTables2025")
# print(os.getcwd())

#csvfiles25 = glob.glob('C:/Users/astgo/Downloads/UrbanSim Output Files/UrbanSim Output Files/USOutTables2025/*.csv', 
#                   recursive = True)
#for csvfile in csvfiles25:
#    print(csvfile)       
#    pd.read_csv(csvfile)

#csvfiles45 = glob.glob('C:/Users/astgo/Downloads/UrbanSim Output Files/UrbanSim Output Files/USOutTables2045/*.csv', 
#                   recursive = True)
#for csvfile in csvfiles45:
#    print(csvfile)       
#    pd.read_csv(csvfile)


bldgs25 = 'C:/Users/astgo/Downloads/UrbanSim Output Files/UrbanSim Output Files/USOutTables2025/results_cmap_run_211_buildings_2025.csv'
hhtm25 = 'C:/Users/astgo/Downloads/UrbanSim Output Files/UrbanSim Output Files/USOutTables2025/results_cmap_run_211_hhtm_2025.csv'
sbztm25 = 'C:/Users/astgo/Downloads/UrbanSim Output Files/UrbanSim Output Files/USOutTables2025/results_cmap_run_211_subzonetm_2025.csv'
bldgs45 = 'C:/Users/astgo/Downloads/UrbanSim Output Files/UrbanSim Output Files/USOutTables2045/results_cmap_run_211_buildings_2045.csv'
hhtm45 = 'C:/Users/astgo/Downloads/UrbanSim Output Files/UrbanSim Output Files/USOutTables2045/results_cmap_run_211_hhtm_2045.csv'
sbztm45 = 'C:/Users/astgo/Downloads/UrbanSim Output Files/UrbanSim Output Files/USOutTables2045/results_cmap_run_211_subzonetm_2045.csv'

#for i in all_list:
#    print(i)
#print(all_list)

b25 = pd.read_csv(bldgs25)
hh25 = pd.read_csv(hhtm25)
sz25 = pd.read_csv(sbztm25)

b45 = pd.read_csv(bldgs45)
hh45 = pd.read_csv(hhtm45)
sz45 = pd.read_csv(sbztm45)

list_25 = [b25, hh25, sz25]
list_45 = [b45, hh45, sz45]
all_list = [list_25, list_45]

hh25['HH_Size'] = 0
#list(hh25.columns)
#print(hh25['HH_Size'])
hh25.assign(HH_Size=hh25['HH_Size']*1)
hh25['HH_Size'] = pd.eval('hh25.adults + hh25.children_15_under')
#print(hh25['HH_Size'])

hh25['Low_Income'] = 0
pd.to_numeric(hh25['Low_Income'], errors='coerce')

conditions25 = [
    (hh25['HH_Size'] == 1) & (hh25['income_2019_usd'] <= 23019.6),
    (hh25['HH_Size'] == 2) & (hh25['income_2019_usd'] <= 49893.6),
    (hh25['HH_Size'] == 3) & (hh25['income_2019_usd'] <= 56223.6),
    (hh25['HH_Size'] == 4) & (hh25['income_2019_usd'] <= 65366.4),
    (hh25['HH_Size'] == 5) & (hh25['income_2019_usd'] <= 60279),
    (hh25['HH_Size'] == 6) & (hh25['income_2019_usd'] <= 55354.2),
    (hh25['HH_Size'] == 7) & (hh25['income_2019_usd'] <= 59736.6)    
]

values = [1,1,1,1,1,1,1]
hh25['Low_Income']= np.select(conditions25, values)

#print(hh25.head())

hh45['HH_Size'] = 0
#list(hh45.columns)
#print(hh45['HH_Size'])
hh45.assign(HH_Size=hh45['HH_Size']*1)
hh45['HH_Size'] = pd.eval('hh45.adults + hh45.children_15_under')
#print(hh45['HH_Size'])

hh45['Low_Income'] = 0
pd.to_numeric(hh45['Low_Income'], errors='coerce')
#list(hh45.columns)

conditions45 = [
    (hh45['HH_Size'] == 1) & (hh45['income_2019_usd'] <= 23019.6),
    (hh45['HH_Size'] == 2) & (hh45['income_2019_usd'] <= 49893.6),
    (hh45['HH_Size'] == 3) & (hh45['income_2019_usd'] <= 56223.6),
    (hh45['HH_Size'] == 4) & (hh45['income_2019_usd'] <= 65366.4),
    (hh45['HH_Size'] == 5) & (hh45['income_2019_usd'] <= 60279),
    (hh45['HH_Size'] == 6) & (hh45['income_2019_usd'] <= 55354.2),
    (hh45['HH_Size'] == 7) & (hh45['income_2019_usd'] <= 59736.6)    
]

values = [1,1,1,1,1,1,1]
hh45['Low_Income']= np.select(conditions45, values)

#print(hh45.head)

#Group by subzone_id and sum the number of Low_Income households
ghh25 = hh25.groupby('subzone_id')['Low_Income'].sum().reset_index() 
ghh45 = hh45.groupby('subzone_id')['Low_Income'].sum().reset_index() 


#Join to Subzone table
jsz25 = pd.merge(sz25, ghh25, on='subzone_id')
jsz45 = pd.merge(sz45, ghh45, on='subzone_id')

##Number of employed adults and adults (Subzone Table) - Disinvested Variable
#total_adult_workers and adults fields

In [28]:
#list(sz45.columns)
#list(b45.columns)
#list(ghh45.columns)
list(jsz45.columns)

['subzone_id',
 'total_households',
 'total_adults',
 'total_adult_workers',
 'total_children_15_under',
 'households_income_30k_less',
 'households_head_35_less',
 'jobs_retail_44_45',
 'total_jobs',
 'age_householder_category2_hhs',
 'age_householder_category3_hhs',
 'building_type_10_hhs',
 'building_type_1_hhs',
 'building_type_2_hhs',
 'building_type_3_hhs',
 'building_type_4_hhs',
 'building_type_5_hhs',
 'building_type_6_hhs',
 'building_type_7_hhs',
 'building_type_8_hhs',
 'building_type_9_hhs',
 'households_size1',
 'households_size2',
 'households_size3',
 'households_size4',
 'households_size5',
 'households_size6',
 'households_size7',
 'income_category2_hhs',
 'income_category3_hhs',
 'income_category4_hhs',
 'race_ethnicity_category1_hhs',
 'race_ethnicity_category2_hhs',
 'race_ethnicity_category3_hhs',
 'race_ethnicity_category4_hhs',
 'race_ethnicity_category5_hhs',
 'num_jobs_sector_11',
 'num_jobs_sector_21',
 'num_jobs_sector_22',
 'num_jobs_sector_23',
 'num_jobs_sector_31',
 'num_jobs_sector_42',
 'num_jobs_sector_44',
 'num_jobs_sector_48',
 'num_jobs_sector_51',
 'num_jobs_sector_52',
 'num_jobs_sector_53',
 'num_jobs_sector_54',
 'num_jobs_sector_55',
 'num_jobs_sector_56',
 'num_jobs_sector_61',
 'num_jobs_sector_62',
 'num_jobs_sector_71',
 'num_jobs_sector_72',
 'num_jobs_sector_81',
 'num_jobs_sector_92',
 'Low_Income']

In [29]:


# Assume df1 and df2 are your data frames
cols_to_compare = ['num_jobs_sector_11', 'num_jobs_sector_21', 'num_jobs_sector_22', 'num_jobs_sector_23', 'num_jobs_sector_31', 'num_jobs_sector_42', 'num_jobs_sector_44', 'num_jobs_sector_48', 'num_jobs_sector_51', 'num_jobs_sector_52', 'num_jobs_sector_53', 'num_jobs_sector_54', 'num_jobs_sector_55', 'num_jobs_sector_56', 'num_jobs_sector_61', 'num_jobs_sector_62', 'num_jobs_sector_71', 'num_jobs_sector_72', 'num_jobs_sector_81', 'num_jobs_sector_92']

# Select columns of interest from both data frames
df1_selected = b45[cols_to_compare]
df2_selected = sz45[cols_to_compare]

# Compare the two data frames
if df1_selected.equals(df2_selected):
    print("The selected columns in the two data frames are equal.")
else:
    print("The selected columns in the two data frames are not equal.")

The selected columns in the two data frames are not equal.

In [30]:
#######	Building types - (Buildings table)##########
#New function for adding a signifier for the respective job types in the building table and subzone table.
def addbldgfieldsignifier(df):
    # Add suffix to column names from buildings table
    df.columns = [col + '_bldg' if col.startswith('num_jobs_sector') else col for col in df.columns]



def addszfieldid(df):
    # Add suffix to column names from subzone table
    df.columns = [col + '_sub' if col.startswith('num_jobs_sector') else col for col in df.columns]


#clean
def datacleanformat(df):
    df.rename(columns={         'age_householder_category2_hhs':'HH_head_35_64',
                                'age_householder_category3_hhs':'HH_head_65_plus',
                                'building_type_10_hhs':'HHs_Boat_RV_Van',
                                'building_type_1_hhs':'HHs_Mobile',
                                'building_type_2_hhs':'HHs_SF_det',
                                'building_type_3_hhs':'HHs_SF_Att',
                                'building_type_4_hhs':'HHs_2_unit_apt',
                                'building_type_5_hhs':'HHs_3_4_unit_apt',
                                'building_type_6_hhs':'HHs_5_9_unit_apt',
                                'building_type_7_hhs':'HHs_10_19_unit_apt',
                                'building_type_8_hhs':'HHs_20_49_unit_apt',
                                'building_type_9_hhs':'HHs_50plus_unit_apt',
                                'income_category2_hhs':'HHINC_30k_60K',
                                'income_category3_hhs':'HHINC_60k_100k',
                                'income_category4_hhs':'HHINC_100k_plus',
                                'race_ethnicity_category1_hhs':'White_HH',
                                'race_ethnicity_category2_hhs':'Black_HH',
                                'race_ethnicity_category3_hhs':'Asian_HH',
                                'race_ethnicity_category4_hhs':'Hispanic_Latino_HH',
                                'race_ethnicity_category5_hhs':'Other_Multirace_HH',
                                'num_jobs_sector_11':'Ag_Forestry_Fish_Hunt',
                                'num_jobs_sector_21':'Mining_jobs',
                                'num_jobs_sector_22':'Utilities_jobs',
                                'num_jobs_sector_23':'Construction_jobs',
                                'num_jobs_sector_31':'Manufacturing_jobs',
                                'num_jobs_sector_42':'Wholesale_Trade_jobs',
                                'num_jobs_sector_44':'Retail_Trade_jobs',
                                'num_jobs_sector_48':'Transportation_Warehousing_jobs',
                                'num_jobs_sector_51':'Information_jobs',
                                'num_jobs_sector_52':'Finance_Insurance_jobs',
                                'num_jobs_sector_53':'Real_Estate_Rental_Leasing_jobs',
                                'num_jobs_sector_54':'Sci_Technical_Services_jobs',
                                'num_jobs_sector_55':'Management_Enterprises_jobs',
                                'num_jobs_sector_56':'Admin_Support_WasteManagement_Remediation_Services_jobs',
                                'num_jobs_sector_61':'Ed_Services_jobs',
                                'num_jobs_sector_62':'HealthCare_Social_Assistance_jobs',
                                'num_jobs_sector_71':'Arts_Ent_Rec_jobs',
                                'num_jobs_sector_72':'Accommodation_Food_Services_jobs',
                                'num_jobs_sector_81':'Other_Services_jobs',
                                'num_jobs_sector_92':'Public_Admin_jobs'}, inplace=True)
    

def bdatacleanformat(df):
    df.rename(columns={'num_jobs_sector_11_bldg':'Ag_Forestry_Fish_Hunt_b',
                                'num_jobs_sector_21_bldg':'Mining_jobs_b',
                                'num_jobs_sector_22_bldg':'Utilities_jobs_b',
                                'num_jobs_sector_23_bldg':'Construction_jobs_b',
                                'num_jobs_sector_31_bldg':'Manufacturing_jobs_b',
                                'num_jobs_sector_42_bldg':'Wholesale_Trade_jobs_b',
                                'num_jobs_sector_44_bldg':'Retail_Trade_jobs_b',
                                'num_jobs_sector_48_bldg':'Transportation_Warehousing_jobs_b',
                                'num_jobs_sector_51_bldg':'Information_jobs_b',
                                'num_jobs_sector_52_bldg':'Finance_Insurance_jobs_b',
                                'num_jobs_sector_53_bldg':'Real_Estate_Rental_Leasing_jobs_b',
                                'num_jobs_sector_54_bldg':'Sci_Technical_Services_jobs_b',
                                'num_jobs_sector_55_bldg':'Management_Enterprises_jobs_b',
                                'num_jobs_sector_56_bldg':'Admin_Support_WasteManagement_Remediation_Services_jobs_b',
                                'num_jobs_sector_61_bldg':'Ed_Services_jobs_b',
                                'num_jobs_sector_62_bldg':'HealthCare_Social_Assistance_jobs_b',
                                'num_jobs_sector_71_bldg':'Arts_Ent_Rec_jobs_b',
                                'num_jobs_sector_72_bldg':'Accommodation_Food_Services_jobs_b',
                                'num_jobs_sector_81_bldg':'Other_Services_jobs_b',
                                'num_jobs_sector_92_bldg':'Public_Admin_jobs_b'}, inplace=True)

def szdatacleanformat(df):
    df.rename(columns={'num_jobs_sector_11_bldg':'Ag_Forestry_Fish_Hunt',
                                'num_jobs_sector_21_sub':'Mining_jobs',
                                'num_jobs_sector_22_sub':'Utilities_jobs',
                                'num_jobs_sector_23_sub':'Construction_jobs',
                                'num_jobs_sector_31_sub':'Manufacturing_jobs',
                                'num_jobs_sector_42_sub':'Wholesale_Trade_jobs',
                                'num_jobs_sector_44_sub':'Retail_Trade_jobs',
                                'num_jobs_sector_48_sub':'Transportation_Warehousing_jobs',
                                'num_jobs_sector_51_sub':'Information_jobs',
                                'num_jobs_sector_52_sub':'Finance_Insurance_jobs',
                                'num_jobs_sector_53_sub':'Real_Estate_Rental_Leasing_jobs',
                                'num_jobs_sector_54_sub':'Sci_Technical_Services_jobs',
                                'num_jobs_sector_55_sub':'Management_Enterprises_jobs',
                                'num_jobs_sector_56_sub':'Admin_Support_WasteManagement_Remediation_Services_jobs',
                                'num_jobs_sector_61_sub':'Ed_Services_jobs',
                                'num_jobs_sector_62_sub':'HealthCare_Social_Assistance_jobs',
                                'num_jobs_sector_71_sub':'Arts_Ent_Rec_jobs',
                                'num_jobs_sector_72_sub':'Accommodation_Food_Services_jobs',
                                'num_jobs_sector_81_sub':'Other_Services_jobs',
                                'num_jobs_sector_92_sub':'Public_Admin_jobs'}, inplace=True)
    



#"Append and join the blding type keep groups table to b25 and b45"
bldg_type_table = 'C:/Users/astgo/Documents/CMAP/UrbanSim Work/bldgTypes_v5_keep_groups_121422.csv'
btype = pd.read_csv(bldg_type_table)
mb25 = pd.merge(b25, btype,on='building_type_id')
mb45 = pd.merge(b45, btype,on='building_type_id')

addbldgfieldsignifier(mb25)
addbldgfieldsignifier(mb45)
addszfieldid(sz25)
addszfieldid(sz45)

szdatacleanformat(sz25)
szdatacleanformat(sz45)
bdatacleanformat(mb25)
bdatacleanformat(mb45)

In [31]:
list(mb25.columns)
list(mb45.columns)

['building_id',
 'residential_sqft',
 'year_built',
 'building_type_id',
 'residential_units',
 'non_residential_sqft',
 'parcel_id',
 'tract_id',
 'subzone_id',
 'county_id',
 'total_households',
 'total_jobs',
 'total_persons',
 'Ag_Forestry_Fish_Hunt_b',
 'Mining_jobs_b',
 'Utilities_jobs_b',
 'Construction_jobs_b',
 'Manufacturing_jobs_b',
 'Wholesale_Trade_jobs_b',
 'Retail_Trade_jobs_b',
 'Transportation_Warehousing_jobs_b',
 'Information_jobs_b',
 'Finance_Insurance_jobs_b',
 'Real_Estate_Rental_Leasing_jobs_b',
 'Sci_Technical_Services_jobs_b',
 'Management_Enterprises_jobs_b',
 'Admin_Support_WasteManagement_Remediation_Services_jobs_b',
 'Ed_Services_jobs_b',
 'HealthCare_Social_Assistance_jobs_b',
 'Arts_Ent_Rec_jobs_b',
 'Accommodation_Food_Services_jobs_b',
 'Other_Services_jobs_b',
 'Public_Admin_jobs_b',
 'building_type_name',
 'is_residential',
 'is_non_residential',
 'is_other',
 'Status',
 'notes']

In [32]:
#	Building types for each subzone (2025 and 2045)
# Add new fields for each building type and total sum count
### New field for Residential
mb25['SF_RES']=0
mb25['MF_RES']=0
mb45['SF_RES']=0
mb45['MF_RES']=0
### New Field for Mixed use
mb25['Mixed_Use_bldg']=0
mb45['Mixed_Use_bldg']=0 
### New field for commercial
mb25['Retail_Commercial_bldg']=0
mb45['Retail_Commercial_bldg']=0 
### New Field for Industrial
mb25['Industrial_bldg']=0
mb45['Industrial_bldg']=0
### New Field for Schools
mb25['School_btype']=0
mb45['School_btype']=0
### New Field for Medical
mb25['Medical_btype']=0
mb45['Medical_btype']=0
### New Field for Cultural
mb25['Cultural_btype']=0
mb45['Cultural_btype']=0
### New Field for Gov
mb25['Gov_btype']=0
mb45['Gov_btype']=0
### New Field for Nursing Home
mb25['Nursing_homes']=0
mb45['Nursing_homes']=0
### New Field for Agriculture
mb25['Agriculture']=0
mb45['Agriculture']=0 
# Number of buildings from year 2025 to 2045 (2045 output)
#	Building types built from 2025 to 2045 (will be in 2045 output table) add new field called "Built_25_45"
mb45['Built_25_45']=0
#   "For every row: if built year is 2025<>2045: then 1 else 0"

mb25 = mb25.assign(Built_25_45 = np.where(mb25['year_built'].between(2025, 2045), 1, 0))
mb25 = mb25.loc[mb25['Status'] == 'keep']
#Combine building types
mb25['SF_RES'] = np.where((mb25['building_type_id'] == 1100) | (mb25['building_type_id'] == 1110) | (mb25['building_type_id'] == 1120) | (mb25['building_type_id'] == 1130), 1, 0)
mb25['MF_RES'] = np.where((mb25['building_type_id'] == 1200) | (mb25['building_type_id'] == 1210) | (mb25['building_type_id'] == 1220), 1, 0)
mb45['SF_REF'] = np.where((mb45['building_type_id'] == 1100) | (mb45['building_type_id'] == 1110) | (mb45['building_type_id'] == 1120) | (mb45['building_type_id'] == 1130), 1, 0)
mb45['MF_REF'] = np.where((mb45['building_type_id'] == 1200) | (mb45['building_type_id'] == 1210) | (mb45['building_type_id'] == 1220), 1, 0)
mb25['Mixed_Use_bldg'] = np.where((mb25['building_type_id'] == 2100) | (mb25['building_type_id'] == 2110) | (mb25['building_type_id'] == 2120) | (mb25['building_type_id'] == 2130),1, 0)
mb45['Mixed_Use_bldg'] = np.where((mb45['building_type_id'] == 2100) | (mb45['building_type_id'] == 2110) | (mb45['building_type_id'] == 2120) | (mb45['building_type_id'] == 2130),1, 0)
mb25['Retail_Commercial_bldg'] = np.where((mb25['building_type_id'] == 1400) | (mb25['building_type_id'] == 1410), 1, 0)
mb45['Retail_Commercial_bldg'] = np.where((mb45['building_type_id'] == 1400) | (mb45['building_type_id'] == 1410), 1, 0)
mb25['Industrial_bldg'] = np.where((mb25['building_type_id'] == 5000) | (mb25['building_type_id'] == 5100) | (mb25['building_type_id'] == 5200) | (mb25['building_type_id'] == 5300), 1, 0)
mb45['Industrial_bldg'] = np.where((mb45['building_type_id'] == 5000) | (mb45['building_type_id'] == 5100) | (mb45['building_type_id'] == 5200) | (mb45['building_type_id'] == 5300), 1, 0)
mb25['School_btype']= np.where((mb25['building_type_id'] == 6100) | (mb25['building_type_id'] == 6110) | (mb25['building_type_id'] == 6140) | (mb25['building_type_id'] == 6150), 1, 0)
mb45['School_btype']= np.where((mb45['building_type_id'] == 6100) | (mb45['building_type_id'] == 6110) | (mb45['building_type_id'] == 6140) | (mb45['building_type_id'] == 6150), 1, 0)
###  Medical
mb25['Medical_btype']= np.where((mb25['building_type_id'] == 6200) | (mb25['building_type_id'] == 6210) | (mb25['building_type_id'] == 6230), 1, 0)
mb45['Medical_btype']= np.where((mb45['building_type_id'] == 6200) | (mb45['building_type_id'] == 6210) | (mb45['building_type_id'] == 6230), 1, 0)
###  Cultural
mb25['Cultural_btype']= np.where((mb25['building_type_id'] == 6500) | (mb25['building_type_id'] == 6520) | (mb25['building_type_id'] == 6540), 1, 0)
mb45['Cultural_btype']= np.where((mb45['building_type_id'] == 6500) | (mb45['building_type_id'] == 6520) | (mb45['building_type_id'] == 6540), 1, 0)
###  Gov
mb25['Gov_btype']= np.where((mb25['building_type_id'] == 6600) | (mb25['building_type_id'] == 6610) | (mb25['building_type_id'] == 6620), 1, 0)
mb45['Gov_btype']= np.where((mb25['building_type_id'] == 6600) | (mb45['building_type_id'] == 6610) | (mb45['building_type_id'] == 6620), 1, 0)
#Nursing
mb25['Nursing_homes'] = np.where((mb25['building_type_id'] == 7200), 1, 0)
mb45['Nursing_homes'] = np.where((mb45['building_type_id'] == 7200), 1, 0)
#Agriculture
mb25['Agriculture'] = np.where((mb25['building_type_id'] == 8100), 1, 0)
mb45['Agriculture'] = np.where((mb45['building_type_id'] == 8100), 1, 0)
#Groupby subzone id #       """ count of each building type by [groupby subzone id] """
gmb25 = mb25.groupby('subzone_id').agg({'building_type_id': 'count',
                                                 'SF_RES': 'sum',
                                                 'MF_RES': 'sum',
                                                 'Mixed_Use_bldg': 'sum',
                                                 'Retail_Commercial_bldg': 'sum',
                                                 'Industrial_bldg': 'sum',
                                                 'School_btype':'sum',
                                                 'Medical_btype':'sum',
                                                 'Cultural_btype':'sum',
                                                 'Gov_btype': 'sum',
                                                 'Nursing_homes': 'sum',
                                                 'Agriculture': 'sum'})


gmb45 = mb45.groupby('subzone_id').agg({'building_type_id': 'count',
                                                 'SF_RES': 'sum',
                                                 'MF_RES': 'sum',
                                                 'Mixed_Use_bldg': 'sum',
                                                 'Retail_Commercial_bldg': 'sum',
                                                 'Industrial_bldg': 'sum',
                                                 'School_btype':'sum',
                                                 'Medical_btype':'sum',
                                                 'Cultural_btype':'sum',
                                                 'Gov_btype': 'sum',
                                                 'Nursing_homes': 'sum',
                                                 'Agriculture': 'sum'})


#Merge/join back to the subzone table
	
##### Job types (Buildings table)############
#	Job type for each subzone (2025 and 2045)
# NAICS Sector Job codes in the building table. Tied to num_jobs_sector_x field.
# #      "count of the job type field on groupby subzone_id" 

gmb25j = mb25.groupby('subzone_id').agg({'Ag_Forestry_Fish_Hunt_b': 'sum',
                                                 'Mining_jobs_b': 'sum',
                                                 'Utilities_jobs_b': 'sum',
                                                 'Construction_jobs_b': 'sum',
                                                 'Manufacturing_jobs_b': 'sum',
                                                 'Wholesale_Trade_jobs_b':'sum',
                                                 'Retail_Trade_jobs_b':'sum',
                                                 'Transportation_Warehousing_jobs_b':'sum',
                                                 'Information_jobs_b': 'sum',
                                                 'Finance_Insurance_jobs_b': 'sum',
                                                 'Real_Estate_Rental_Leasing_jobs_b': 'sum',
                                                 'Sci_Technical_Services_jobs_b': 'sum',
                                                 'Management_Enterprises_jobs_b': 'sum',
                                                 'Admin_Support_WasteManagement_Remediation_Services_jobs_b' : 'sum',
                                                 'Ed_Services_jobs_b': 'sum',
                                                 'HealthCare_Social_Assistance_jobs_b': 'sum',
                                                 'Arts_Ent_Rec_jobs_b':'sum',
                                                 'Accommodation_Food_Services_jobs_b':'sum',
                                                 'Other_Services_jobs_b':'sum',
                                                 'Public_Admin_jobs_b':'sum'})


gmb45j = mb45.groupby('subzone_id').agg({
                                                 'Ag_Forestry_Fish_Hunt_b': 'sum',
                                                 'Mining_jobs_b': 'sum',
                                                 'Utilities_jobs_b': 'sum',
                                                 'Construction_jobs_b': 'sum',
                                                 'Manufacturing_jobs_b': 'sum',
                                                 'Wholesale_Trade_jobs_b':'sum',
                                                 'Retail_Trade_jobs_b':'sum',
                                                 'Transportation_Warehousing_jobs_b':'sum',
                                                 'Information_jobs_b': 'sum',
                                                 'Finance_Insurance_jobs_b': 'sum',
                                                 'Real_Estate_Rental_Leasing_jobs_b': 'sum',
                                                 'Sci_Technical_Services_jobs_b': 'sum',
                                                 'Management_Enterprises_jobs_b': 'sum',
                                                 'Admin_Support_WasteManagement_Remediation_Services_jobs_b' : 'sum',
                                                 'Ed_Services_jobs_b': 'sum',
                                                 'HealthCare_Social_Assistance_jobs_b': 'sum',
                                                 'Arts_Ent_Rec_jobs_b':'sum',
                                                 'Accommodation_Food_Services_jobs_b':'sum',
                                                 'Other_Services_jobs_b':'sum',
                                                 'Public_Admin_jobs_b':'sum'})

In [33]:
# Join the subzone tasks together
#Task list:
#   jsz25
#   gmb25
#   gmb45
#   gmb25j
#   gmb45j

# merge gmb25 and gmb25j dataframes
jbtsz25 = pd.merge(gmb25, gmb25j, on='subzone_id')
mhhjb_sz25 =pd.merge(jsz25, jbtsz25, on='subzone_id')
#display(mhhjb_sz25)
jbtsz25.to_csv('jobs_&_BT_per_subzone', index=False)

jbtsz45 = pd.merge(gmb45, gmb45j, on='subzone_id')
mhhjb_sz45 =pd.merge(jsz45, jbtsz45, on='subzone_id')



def dfpctchngcalc_2(df_45, df_25):
    change25_45_df = df_45 - df_25

    #add suffix "_ch"
    change25_45_df.columns = [col + '_chg' for col in change25_45_df.columns]

    percent_change_df = round((df_45 - df_25) / df_25,2)

    #add suffix "_pc"
    percent_change_df.columns = [col + '_pctchg' for col in percent_change_df.columns]

    #merge  df_25 (with suffix), df_45 (with suffix), change_df, percent_change_df



def dfpctchngcalc():
    ###Use numpy instead of iteration
    # change_df = df_45 - df_25
    #add prefix "ch"
    # merge all
    ## merge df_25
    ## percent_chng = (df45 - df25)/ df_25
    # Merge the two data frames on a common column
    mhhjb_merged = pd.merge(mhhjb_sz25, mhhjb_sz45, on='subzone_id', suffixes=('_25', '_45'))

    # # Calculate the percent change for each column of interest
    # percent_change = mhhjb_merged.filter(like='_45').pct_change(axis=1)

    # # Create a new data frame with the percent change values
    # mhhjb_pct_change = pd.concat([mhhjb_merged[['subzone_id', 'x_25', 'y_25']], percent_change], axis=1)

    # create a list of all columns except subzone_id
    cols_to_change = [col for col in mhhjb_sz25.columns if col != 'subzone_id']

    # iterate over each column and calculate the percent change
    for col in cols_to_change:
        mhhjb_sz45[col+'_pct_change'] = (mhhjb_sz45[col] - mhhjb_sz25[col]) / mhhjb_sz25[col] * 100



datacleanformat(jsz25)
datacleanformat(jsz45)

    
datacleanformat(mhhjb_sz25)
datacleanformat(mhhjb_sz45)
dfpctchngcalc_2(mhhjb_sz45,mhhjb_sz25)
#dfpctchngcalc()
#list(mhhjb_sz25.columns)
#list(mhhjb_sz45.columns)
list(jsz45.columns)
#list(jbtsz45.columns)
#display(mhhjb_sz45)

#list(jsz25.columns)
#display(jsz45)
#display(b25)
#list(mb25.columns)
#list(gmb25.columns)
#list(gmb25j.columns)

os.getcwd()
mhhjb_sz45.to_csv('HH_jobs_&_BT_per_subzone', index=False)
# Final checklist
##Number of employed adults and adults (Subzone Table) - Disinvested Variable
#total_adult_workers and adults fields
#Building types per subzone
#Job types per subzone

In [34]:
c25 = list(mhhjb_sz25.columns)
c45 = list(mhhjb_sz45.columns)


c45

['subzone_id',
 'total_households',
 'total_adults',
 'total_adult_workers',
 'total_children_15_under',
 'households_income_30k_less',
 'households_head_35_less',
 'jobs_retail_44_45',
 'total_jobs',
 'HH_head_35_64',
 'HH_head_65_plus',
 'HHs_Boat_RV_Van',
 'HHs_Mobile',
 'HHs_SF_det',
 'HHs_SF_Att',
 'HHs_2_unit_apt',
 'HHs_3_4_unit_apt',
 'HHs_5_9_unit_apt',
 'HHs_10_19_unit_apt',
 'HHs_20_49_unit_apt',
 'HHs_50plus_unit_apt',
 'households_size1',
 'households_size2',
 'households_size3',
 'households_size4',
 'households_size5',
 'households_size6',
 'households_size7',
 'HHINC_30k_60K',
 'HHINC_60k_100k',
 'HHINC_100k_plus',
 'White_HH',
 'Black_HH',
 'Asian_HH',
 'Hispanic_Latino_HH',
 'Other_Multirace_HH',
 'Ag_Forestry_Fish_Hunt',
 'Mining_jobs',
 'Utilities_jobs',
 'Construction_jobs',
 'Manufacturing_jobs',
 'Wholesale_Trade_jobs',
 'Retail_Trade_jobs',
 'Transportation_Warehousing_jobs',
 'Information_jobs',
 'Finance_Insurance_jobs',
 'Real_Estate_Rental_Leasing_jobs',
 'Sci_Technical_Services_jobs',
 'Management_Enterprises_jobs',
 'Admin_Support_WasteManagement_Remediation_Services_jobs',
 'Ed_Services_jobs',
 'HealthCare_Social_Assistance_jobs',
 'Arts_Ent_Rec_jobs',
 'Accommodation_Food_Services_jobs',
 'Other_Services_jobs',
 'Public_Admin_jobs',
 'Low_Income',
 'building_type_id',
 'SF_RES',
 'MF_RES',
 'Mixed_Use_bldg',
 'Retail_Commercial_bldg',
 'Industrial_bldg',
 'School_btype',
 'Medical_btype',
 'Cultural_btype',
 'Gov_btype',
 'Nursing_homes',
 'Agriculture',
 'Ag_Forestry_Fish_Hunt_b',
 'Mining_jobs_b',
 'Utilities_jobs_b',
 'Construction_jobs_b',
 'Manufacturing_jobs_b',
 'Wholesale_Trade_jobs_b',
 'Retail_Trade_jobs_b',
 'Transportation_Warehousing_jobs_b',
 'Information_jobs_b',
 'Finance_Insurance_jobs_b',
 'Real_Estate_Rental_Leasing_jobs_b',
 'Sci_Technical_Services_jobs_b',
 'Management_Enterprises_jobs_b',
 'Admin_Support_WasteManagement_Remediation_Services_jobs_b',
 'Ed_Services_jobs_b',
 'HealthCare_Social_Assistance_jobs_b',
 'Arts_Ent_Rec_jobs_b',
 'Accommodation_Food_Services_jobs_b',
 'Other_Services_jobs_b',
 'Public_Admin_jobs_b']

In [35]:
#display(mhhjb_sz45).T
c25 = set(mhhjb_sz25.columns)
c45 = set(mhhjb_sz45.columns)
if c25 == c45:
    print("The Columns are identical.")
else:
    print("The columns are not the same.")

df1_only_columns = c25 - c45

# Find the columns that exist in df2 but not in df1
df2_only_columns = c45 - c25

# Print the results
print("Columns in df1 but not in df2: ", df1_only_columns)
print("Columns in df2 but not in df1: ", df2_only_columns)

The Columns are identical.
Columns in df1 but not in df2:  set()
Columns in df2 but not in df1:  set()

In [38]:
change25_45_df = mhhjb_sz45 - mhhjb_sz25

#add suffix "_ch"
change25_45_df.columns = [col + '_chg' for col in change25_45_df.columns]

percent_change_df = round((mhhjb_sz45 - mhhjb_sz25) / mhhjb_sz25,2)

#add suffix "_pc"
percent_change_df.columns = [col + '_pctchg' for col in percent_change_df.columns]

#merge  df_25 (with suffix), df_45 (with suffix), change_df, percent_change_df

In [41]:
mhhjb_sz25

,subzone_id,total_households,total_adults,total_adult_workers,total_children_15_under,households_income_30k_less,households_head_35_less,jobs_retail_44_45,total_jobs,HH_head_35_64,...,Real_Estate_Rental_Leasing_jobs_b,Sci_Technical_Services_jobs_b,Management_Enterprises_jobs_b,Admin_Support_WasteManagement_Remediation_Services_jobs_b,Ed_Services_jobs_b,HealthCare_Social_Assistance_jobs_b,Arts_Ent_Rec_jobs_b,Accommodation_Food_Services_jobs_b,Other_Services_jobs_b,Public_Admin_jobs_b
0,1,4144.00,7962.00,5567.00,2364.00,755.00,1205.00,192.00,1691.00,2595.00,...,55,244,6,29,56,55,24,449,163,3
1,2,3317.00,6662.00,4780.00,2131.00,538.00,1063.00,352.00,6106.00,2105.00,...,154,1767,196,334,66,499,165,587,181,253
2,3,2111.00,4245.00,3147.00,1380.00,223.00,657.00,280.00,6576.00,1422.00,...,200,1248,42,363,104,353,108,1644,162,217
3,4,3445.00,6525.00,4766.00,1938.00,520.00,1144.00,402.00,5761.00,2213.00,...,295,1618,40,174,57,315,92,594,186,101
4,5,3254.00,5734.00,4378.00,1558.00,365.00,943.00,78.00,2438.00,2246.00,...,74,567,12,83,22,284,32,309,48,185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13569,16416,189.00,402.00,238.00,128.00,38.00,32.00,51.00,1063.00,112.00,...,9,29,3,29,96,226,1,34,34,3
13570,16418,234.00,511.00,313.00,138.00,38.00,39.00,5.00,389.00,134.00,...,5,5,1,43,7,10,3,5,28,49
13571,16422,3.00,7.00,3.00,2.00,1.00,0.00,0.00,6.00,2.00,...,0,0,0,0,1,5,0,0,0,0
13572,16425,75.00,172.00,93.00,27.00,11.00,10.00,0.00,10.00,40.00,...,0,2,0,0,0,0,3,0,0,0
13573,16426,4.00,7.00,3.00,0.00,0.00,0.00,1.00,9.00,2.00,...,0,1,0,1,0,3,0,0,0,0

In [40]:
mhhjb_sz45

,subzone_id,total_households,total_adults,total_adult_workers,total_children_15_under,households_income_30k_less,households_head_35_less,jobs_retail_44_45,total_jobs,HH_head_35_64,...,Real_Estate_Rental_Leasing_jobs_b,Sci_Technical_Services_jobs_b,Management_Enterprises_jobs_b,Admin_Support_WasteManagement_Remediation_Services_jobs_b,Ed_Services_jobs_b,HealthCare_Social_Assistance_jobs_b,Arts_Ent_Rec_jobs_b,Accommodation_Food_Services_jobs_b,Other_Services_jobs_b,Public_Admin_jobs_b
0,1,4768.00,8762.00,6127.00,2476.00,878.00,1134.00,247.00,1895.00,3107.00,...,63,230,12,35,42,64,43,548,146,4
1,2,4497.00,8410.00,6348.00,2573.00,455.00,1068.00,276.00,6083.00,3373.00,...,148,1640,197,320,33,376,185,522,146,217
2,3,3349.00,6123.00,4561.00,1739.00,373.00,784.00,213.00,6924.00,2492.00,...,180,1349,77,380,98,287,145,1543,165,175
3,4,4213.00,7768.00,5990.00,2292.00,391.00,980.00,450.00,6520.00,3209.00,...,271,1676,73,214,43,251,152,648,157,114
4,5,3468.00,6679.00,4974.00,2079.00,375.00,845.00,142.00,2436.00,2553.00,...,81,516,13,78,39,223,26,267,33,147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13639,16416,244.00,507.00,285.00,113.00,50.00,33.00,66.00,1123.00,126.00,...,12,44,2,63,119,227,4,42,37,1
13640,16418,247.00,527.00,295.00,115.00,49.00,27.00,8.00,407.00,135.00,...,6,15,3,57,9,25,2,15,22,48
13641,16422,3.00,7.00,3.00,2.00,1.00,0.00,0.00,6.00,2.00,...,0,0,0,0,1,5,0,0,0,0
13642,16425,75.00,168.00,90.00,27.00,9.00,8.00,0.00,16.00,34.00,...,1,3,0,1,2,0,3,3,1,0
13643,16426,135.00,287.00,133.00,24.00,35.00,15.00,1.00,27.00,46.00,...,1,3,0,3,4,6,0,5,0,0

In [42]:
change25_45_df

,subzone_id_chg,total_households_chg,total_adults_chg,total_adult_workers_chg,total_children_15_under_chg,households_income_30k_less_chg,households_head_35_less_chg,jobs_retail_44_45_chg,total_jobs_chg,HH_head_35_64_chg,...,Real_Estate_Rental_Leasing_jobs_b_chg,Sci_Technical_Services_jobs_b_chg,Management_Enterprises_jobs_b_chg,Admin_Support_WasteManagement_Remediation_Services_jobs_b_chg,Ed_Services_jobs_b_chg,HealthCare_Social_Assistance_jobs_b_chg,Arts_Ent_Rec_jobs_b_chg,Accommodation_Food_Services_jobs_b_chg,Other_Services_jobs_b_chg,Public_Admin_jobs_b_chg
0,0.00,624.00,800.00,560.00,112.00,123.00,-71.00,55.00,204.00,512.00,...,8.00,-14.00,6.00,6.00,-14.00,9.00,19.00,99.00,-17.00,1.00
1,0.00,1180.00,1748.00,1568.00,442.00,-83.00,5.00,-76.00,-23.00,1268.00,...,-6.00,-127.00,1.00,-14.00,-33.00,-123.00,20.00,-65.00,-35.00,-36.00
2,0.00,1238.00,1878.00,1414.00,359.00,150.00,127.00,-67.00,348.00,1070.00,...,-20.00,101.00,35.00,17.00,-6.00,-66.00,37.00,-101.00,3.00,-42.00
3,0.00,768.00,1243.00,1224.00,354.00,-129.00,-164.00,48.00,759.00,996.00,...,-24.00,58.00,33.00,40.00,-14.00,-64.00,60.00,54.00,-29.00,13.00
4,0.00,214.00,945.00,596.00,521.00,10.00,-98.00,64.00,-2.00,307.00,...,7.00,-51.00,1.00,-5.00,17.00,-61.00,-6.00,-42.00,-15.00,-38.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
percent_change_df

,subzone_id_pctchg,total_households_pctchg,total_adults_pctchg,total_adult_workers_pctchg,total_children_15_under_pctchg,households_income_30k_less_pctchg,households_head_35_less_pctchg,jobs_retail_44_45_pctchg,total_jobs_pctchg,HH_head_35_64_pctchg,...,Real_Estate_Rental_Leasing_jobs_b_pctchg,Sci_Technical_Services_jobs_b_pctchg,Management_Enterprises_jobs_b_pctchg,Admin_Support_WasteManagement_Remediation_Services_jobs_b_pctchg,Ed_Services_jobs_b_pctchg,HealthCare_Social_Assistance_jobs_b_pctchg,Arts_Ent_Rec_jobs_b_pctchg,Accommodation_Food_Services_jobs_b_pctchg,Other_Services_jobs_b_pctchg,Public_Admin_jobs_b_pctchg
0,0.00,0.15,0.10,0.10,0.05,0.16,-0.06,0.29,0.12,0.20,...,0.15,-0.06,1.00,0.21,-0.25,0.16,0.79,0.22,-0.10,0.33
1,0.00,0.36,0.26,0.33,0.21,-0.15,0.00,-0.22,-0.00,0.60,...,-0.04,-0.07,0.01,-0.04,-0.50,-0.25,0.12,-0.11,-0.19,-0.14
2,0.00,0.59,0.44,0.45,0.26,0.67,0.19,-0.24,0.05,0.75,...,-0.10,0.08,0.83,0.05,-0.06,-0.19,0.34,-0.06,0.02,-0.19
3,0.00,0.22,0.19,0.26,0.18,-0.25,-0.14,0.12,0.13,0.45,...,-0.08,0.04,0.82,0.23,-0.25,-0.20,0.65,0.09,-0.16,0.13
4,0.00,0.07,0.16,0.14,0.33,0.03,-0.10,0.82,-0.00,0.14,...,0.09,-0.09,0.08,-0.06,0.77,-0.21,-0.19,-0.14,-0.31,-0.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN